{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <h1 class="gallerytitle">Bildgalleri</h1>
        <div class="gallerypage">
            {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
