/** base.scss */
body {
    line-height: $base-line-height;
    background-color: $background-color;
    color: $font-color;
}

.main {
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: $magic-number auto;
}

// .footer {
//     border-top: $border;
    
//     .fab {
//         float: right;
//     }
// }
