/* reports.scss */
.reportspage {
    display: grid;
    max-width: 800px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 300px);
    gap: 0,5em 0,5em;
}

a {
    text-decoration: none;
    color: #000;
}

.box {
    border: 2px solid #333;
    position: relative;
    overflow: hidden;

    img {
        max-width: 100%;
        object-fit: cover;
    }

    h2 {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: rgba(128, 0, 128, 0.6);
    }
}

.box:hover {
    box-shadow: 0 0 15px 10px rgba(97, 97, 97, 0.4);
}

.heading {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    h1 {
        position: absolute;
        text-align: center;
        top: 25%;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: rgba(128, 0, 128, 0.6);
    }
}

.kmom04 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.kmom05 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.kmom06 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
