/** report.scss */
.report {
    width: 80%;
    border: $report-border;
    padding: 1em;

    figure img {
        max-width: 50%;
        border: $report-border;
        filter: $greyscale;
    }

    figcaption {
        font-style: italic;
    }

    h2 {
        text-decoration: underline;
    }

    .footnotes a {
        color: $font-color;
        word-wrap: break-word;
    }
}
