/** report.scss */
.report {
    width: 80%;
    border: $report-border;
    padding: 1em;

    img {
        max-height: 400px;
        border: $report-border;
        filter: $greyscale;
    }

    figcaption {
        font-style: italic;
    }

    h2 {
        text-decoration: underline;
    }

    .footnotes a {
        color: $font-color;
    }
}
