/* technology.scss */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 200px);
    gap: 0.5em 0.5em;
}

.contents {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding: 1em;
    border-left: 2px solid rgb(255, 140, 0);

    h1 {
        text-align: center;
    }
}

.side-bar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    a {
        text-align: center;
    }

    h2 {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    .side-bar {
        display: none;
    }

    .contents {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        border-left: #fff;
    }
}
