/* Noto Sans for headlines and Ubuntu for other texts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu&display=swap');

html {
    font-size: 100%;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: $magic-number * 2;
    font-family: 'Noto Sans', sans-serif;
}

.main {
    p {
        font-size: $base-font-size;
        margin-bottom: $magic-number;
        font-family: 'Ubuntu', sans-serif;
        font-size: 600;
        color: $font-color;
    }
}


@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
