/* variables */
$font-color: #ababab;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #332e30;
$background-alternative-color: #e0fbfc;
$link-color: #03dac5;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;

$border: 4px dotted #fff;
$report-border: 4px solid #03dac5;
$greyscale: grayscale(50%);
