/* variables */
$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff5ee;
$background-alternative-color: #e0fbfc;
$link-color: #333;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;

$border: 4px dotted #000;
$report-border: 2px solid #806450;
$greyscale: grayscale(0%);
